commit.sh
build/
test/build/
compile/
dist/
.DS_Store
.vscode
__pycache__

cpu/build/
cpu/test/build/
cpu/compile/
cpu/dist/

assembelers/*/build/
assembelers/*/test/build/
assembelers/*/compile/
assembelers/*/dist/

asm/*.cato